%h1
  Native data and time pickers

= simple_form_for @data, url: [:datatime_save, :components], method: :post do |f|
  .form-inputs
    .row
      .form-group.col-sm-4
        = f.input :date,
                  as: :native_datepicker,
                  label: 'Date',
                  input_html: { value: @data.date }

        = f.input :time,
                  as: :native_timepicker,
                  label: 'Time',
                  input_html: { value: @data.time }

      .col-sm-4
        = f.input :datetime,
                  as: :native_datetimepicker,
                  label: 'Datetime',
                  input_html: { value: @data.datetime }


  .form-actions
    = f.button :submit, class: "btn btn-primary", disabled: true


%p
%div
  = link_to 'Back', [:components]
