%h1
  Native datatime pickers input

= simple_form_for @data, url: [:datatime_save, :components], method: :post do |f|
  .form-inputs
    .row
      .form-group.col-xs-4
        = f.input :date_input,
                  as: :native_datepicker,
                  label: 'Date',
                  input_html: { value: @data.val }

      .col-xs-4
        = f.input :val,  input_html: { class: 'datepicker' }

  .form-actions
    = f.button :submit, class: "btn btn-primary"


%p
%div
  = link_to 'Back', [:components]
